
.main
	background-color: #333336!important
	display: grid
	margin: 0
	padding: 0
	grid-template-columns: 30% 70%
	.wrapMessage

		background-color: #333336
		list-style-type: none
		display: grid
		grid-template-columns: 1fr 1fr
		height: 5.5em
		text-decoration: none
		color: #fff
		&:hover
			background-color: #5d5d5d
			cursor: pointer
		.ava
			justify-self: center
			align-self: center
			img
				width: 55px
				height: 55px
				border-radius: 100%
		.infoMessage

			.wrapInfo

				.name
					font-size: 16px
				.time
					justify-self: center
			.text
				display: grid
				grid-template-columns: 2fr 97%
				padding-right: 10%
				img
					height: 35px
					width: 35px
					border-radius: 100%
				.message
					border-radius: 10px
					line-height: 30px
					padding-left: 4%
					margin-left: 2%
					background-color: #444446
	.contentWrapper
		height: 200px
		background-color: #5d5d5d
		form
			margin-top: 70px
.tabs
	border-radius: 7px
	background-color: #333336
	position: fixed
	left: 67%
	width: 15%
	padding: 10px 0 10px 0
	.link
		display: flex
		flex-direction: column
		justify-content: space-evenly
		.itemLink
			text-decoration: none
			color: #ffffff
			height: 12%
			line-height: 33px
			padding-left: 5%
			&:hover
				background-color: #444446
		.active
			background-color: #444446
