@mixin btn
	min-width: 30px
	border: none
	outline: none
	background-color: #666666
	color: #fff
	padding: 7px 16px 8px 16px
	font-size: 14px
	cursor: pointer
	border-radius: 7px
	&:hover
		background-color: #6d6d6d!important
	&:last-child
		margin-left: 10px


.friendsHeader
	display: grid

	grid-row-gap: 20px
	.friendsRequest
		background-color: #333336
		border-radius: 10px
		.title
			padding: 13px 0 0 13px
			height: 2.5rem
			background: #444446
			border-top-left-radius: 10px
			border-top-right-radius: 10px
		.requests
			height: 8rem
			display: flex
			.icon
				width: 20%
				img
					height: 100px
					width: 100px
					border-radius: 100%
					display: block
					margin: 0 auto
					padding-top: 13px
			.friend
				display: flex
				flex-direction: column
				justify-content: space-evenly
				width: 80%
				a
					color: #ffffff
					text-decoration: none
					font-size: 18px
					font-weight: 500
					&:hover
						text-decoration: underline
				p
					margin: 0
					font-size: 15px
					font-weight: 300
					text-transform: uppercase
					color: #777777
				.buttons
					.btn
						@include btn
	.friendsList
		min-height: 100px
		max-height: 100%
		background-color: #333336
		border-radius: 10px
		.wrapper
			display: grid
			grid-template-columns: 0.5fr 0.5fr
			width: 54%
			grid-template-rows: 3.5rem
			.tabsAll, .tabsOnline
				cursor: pointer
				height: 75%
				padding-top: 7%
				justify-self: center
				span
					margin-left: 10px
			.tabsAll
				&:hover
					border-bottom: 3px solid white
			.tabsOnline
				&:hover
					border-bottom: 3px solid white
			.active
				border-bottom: 3px solid white
		.search
			height: 50px
			form
				position: relative
				height: 100%
				margin: 0 auto
				.searchFriends
					height: 80%
					width: 94%
					background: #444446 !important
					outline: none
					border: none
					padding: 5px 20px 5px 20px
					font-size: 18px
					color: #fff
				.params
					position: absolute
					right: 3%
					top: 25%
					color: #ffffff
					text-decoration: none
					width: 17%
					&:hover
						text-decoration: underline
					img
						width: 20px
						height: 20px
						vertical-align: middle
						margin-left: 6%
					.searchFilter
						display: none
		.wrapperFriends

			.friend
				display: flex
				flex-direction: row
				flex-wrap: wrap
				height: 9rem
				padding: 10px 0 10px 0
				.friendAvatar
					width: 20%
					img
						display: block
						margin: 0 auto
						height: 100%
				.wrapperInfo
					display: flex
					flex-direction: column
					justify-content: space-between
					height: 70%
					a
						text-decoration: none
						color: #ffffff
						&:hover
							text-decoration: underline
					.friendDescr
						color: #777777
				.dropMenu
					text-align: end
					margin-left: 48%
					cursor: pointer
				.dropMenuContent
					display: none
.tabs
	border-radius: 7px
	background-color: #333336
	position: fixed
	left: 67%
	width: 15%
	padding: 10px 0 10px 0
	.link
		display: flex
		flex-direction: column
		justify-content: space-evenly
		.itemLink
			text-decoration: none
			color: #ffffff
			height: 12%
			line-height: 33px
			padding-left: 5%
			&:hover
				background-color: #444446
		.active
			background-color: #444446